---
title: Contact
date: 2015-11-29 21:00:03
layout: contact
---
<h2>NINGBO OFFICE:</h2>
<p>JINSHAN BUILDING ROOM 1703, CHANGSHOU SOUTH ROAD 555#, NINGBO, 315100, CHINA</p>
<h2>HONGKONG OFFICE:</h2>
<p>6/F MANULIFE PLACE 348 KWUN TONG ROAD KL HONGKONG</p>
<p>EMAIL: <a href="mailto:office@maojigroup.com" target="_top">office@maojigroup.com</a></p>
<p>WEBSITE: <a href="http://feed.maojigroup.com">http://feed.maojigroup.com</a></p>
